[flake8]
max-line-length = 120
extend-ignore = E203, W503, N801, N802, E501
exclude =
    .git,
    __pycache__,
    build,
    build_standalone,
    build_standalone_test,
    build_test,
    .eggs,
    *.egg,
    *_epy_block_*.py

